{% extends "navbar.html" %}
{% block title %} Add Company : hire!t {% endblock %}
{% block content %}
    <div class="row container">
        <div class="col-sm-4"></div>
        <div class="col-sm-6">
            <div class="card border-primary mb-1" style="background-color: #FFF;">
                <div class="card-header bg-primary text-white text-center"><h5>Add Company</h5></div>
            </div>
            <div class="row mt-0">
                <div clas="col-sm-2"></div>
                <div class="card-body text-dark col-sm-8">
                    <form action="/addCompany" method="POST" accept-charset="utf-8">
                        <input type="text" name="name" placeholder="Name" class="form-control mb-2 border-primary" >
                        <input type="text" name="location" placeholder="Location" class="form-control mb-2 border-primary">
                        <input type="submit" class="btn btn-primary col-12 text-center" value="Submit" >
                    </form>
                </div>
                <div clas="col-sm-2"></div>
        </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
{% endblock %}