{% extends "navbar.html" %}
{% block title %} SignIn {% endblock %}
{% block content %} 
<div class="row container mt-5">
	<div class="col-sm-8">
		<img src="../static/signin.png" style="width: 65%; margin-top: 2%; margin-left: 18%;">
	</div>
	<div class="col-sm-4">
		<div class="card border-primary mb-2 mt-5">
		 	<div class="card-header bg-primary text-white text-center"><h5>SignIn</h5></div>
			</div>
			<div class="row mt-0">
				<div clas="col-sm-2"></div>
				<div class="card-body text-dark col-sm-8">
					<form action="/signin" method="POST" accept-charset="utf-8">
						<div class="form-group">
				          <label class="mb-0"><b><h6>Email</h6></b></label>
				          <input type="email" name="email" placeholder="Email" class="form-control mb-3 border-primary">
				        </div>
				        <div class="form-group">
				          <label class="mb-0"><b><h6>Password</h6></b></label>
				          <input type="password" name="password" placeholder="Password" class="form-control mb-3 border-primary">
				        </div>
				        <input type="submit" class="btn btn-primary col-12 text-center" value="SIGN IN" >
					</form>
				</div>
				<div clas="col-sm-2"></div>
			</div>
			<a class="btn btn-primary col-12 p-2 text-white ml-auto rounded text-center" href="/signup">Don't have account? <b>SignUp</b></a>
			</div>
		</div>
	</div>
</div>
{% endblock %}