{% extends "navbar.html" %}
{% block title %} SignUp {% endblock %}
{% block content %} 
<div class="row container" id="signup" STYLE="margin-bottom: 80px;">
	<div class="col-sm-7">
		<img src="../static/signup.png" style="width: 70%; margin-top: 2%; margin-left: 18%;">
	</div>
	<div class="col-sm-5">
		<div class="card border-primary mb-1" style="background-color: #FFF;">
		 	<div class="card-header bg-primary text-white text-center"><h5>SignUp</h5></div>
			</div>
			<div class="row mt-0">
				<div clas="col-sm-2"></div>
				<div class="card-body text-dark col-sm-8">
					<form action="/signup" method="POST" accept-charset="utf-8">
				        <input type="text" name="first_name" placeholder="First Name" class="form-control mb-2 border-primary">
				        <input type="text" name="last_name" placeholder="Last Name" class="form-control mb-2 border-primary">
				        <input type="text" name="phone_number" placeholder="Mobile Number" class="form-control mb-2 border-primary">
				        <input type="email" name="email" placeholder="Email" class="form-control mb-2 border-primary">
				        <input type="password" name="password" placeholder="Password" class="form-control mb-2 border-primary">
				        <input type="password" name="confirm_password" placeholder="Confirm Password" class="form-control mb-2 border-primary">
				        <input type="submit" class="btn btn-primary col-12 text-center" value="SIGN UP" >
					</form>
				</div>
				<div clas="col-sm-2"></div>
			</div>
			<a class="btn btn-primary col-12 p-2 text-white ml-auto rounded text-center mb-4" href="/signin">Already have account? <b>SignIn</b></a>
			</div>
		</div>
	</div>
</div>
{% endblock %}